  body {
    font-family: 'Montserrat', sans-serif;
    background: #2590EB;
    font-size: medium;
  }
  .headline {
  width: 100%;
  position: absolute;
  background-color: #0a84ee;
  display: flex;
  flex-wrap: wrap; /* Để các phần tử con có thể xuống dòng nếu không đủ chỗ */
}

.headline-left {
  text-align: right;
  width: 50%;
  display: flex;
  justify-content: flex-end; /* Đẩy phần nút sang bên phải */
  position: relative; /* Thêm một vị trí tương đối để sử dụng vị trí tuyệt đối cho nút */
}

.headline-left .button-right {
  position: absolute;
  right: 10px; /* Thay đổi khoảng cách nút bên phải so với lề phải */
  top: 8px;
}

.headline-left .button-left {
  position: absolute;
  right: 170px; /* Thay đổi khoảng cách nút bên trái so với lề phải */
  top: 8px;
}

.headline .headline-left a {
  font-size: 20px;
  padding-right: 10px;
  color: #08090b;
}

.headline-right {
  text-align: left;
  width: 50%;
}

/* Sử dụng media query để điều chỉnh CSS dựa trên kích thước màn hình */
@media (max-width: 768px) {
  .headline-left {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .headline-left .button-right,
  .headline-left .button-left {
    position: static; /* Hủy bỏ vị trí tuyệt đối để nút nằm giữa */
    margin-top: 8.6px;
    margin-right: 10px;
  }

  .headline-right {
    width: 100%;
    text-align: center;
  }
}

   .headline .headline-right h1 {
    color: #0b4397;
    font-family: 'Bungee', cursive;
    letter-spacing: -.5px;
    font-weight: 900;
    height: 100%;
    font-size: 55px;
    padding-left: 20px;
  }
  .headline .headline-right a{
    text-decoration: none;
  }
  @media (max-width: 768px) {
    .headline .headline-right h1 {
      font-size: 46px; /* Điều chỉnh kích thước cho màn hình nhỏ hơn */
    }
  }  

  .wrapper {
    margin: auto;
    max-width: 640px;
    padding-top: 140px;
    text-align: center;
  }
  
  .container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .container h2{
    color: #0b4397;
  }
  .container p{
    color: #0b214d;
  }
  .upload-container {
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    padding: 10px;
  }
  
  .border-container {
    border: 5px dashed rgba(10, 10, 10, 0.65);
  }
  
  .border-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 0;
    opacity: 0.85;
  }
  .button-two {
    padding:10px 40px;
    outline: none;
    background-color: #1cbe44;
    border: none;
    border-radius:5px;
    box-shadow: 0 6px #95a5a6;
    border-radius: 10px;
    margin-top: 13px;
  }
  button{
    color:#fff;
    text-align: center;
    font-family: 'Bungee', cursive;
  }
  
  .button-two:hover{
    background-color: #03a42b;
    border-radius: 10px;
    margin-top: 13px;
  }
  
  .button-two:active {
    background-color: #03a42b;
    box-shadow: 0 5px #95a5a6;
    transform: translateY(4px);
    border-radius: 10px;
    margin-top: 13px;
  
  }
  
  .button-three {
    padding:15px 45px;
    background-color: #2590EB;
    border-radius: 10px;
  }
  .button-three:hover{
    padding:15px 45px;
    background-color: #0b4397;
    border-radius: 10px;
  }
  
  .button-four {
    padding:15px 45px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #2590EB;
  }
  .button-four:hover{
    padding:15px 45px;
    background-color: #95a5a6;
    border-radius: 10px;
    color: #2590EB;
  }
  

  input[type=file] {
    width: 100%;
    max-width: 100%;
    padding: 25px;
    text-align: center;
    color: #0b214d;
  }
  input[type=file]::file-selector-button {
    display: none;
  }